<footer>
    <nav class="navbar fixed-bottom navbar-light navstyle">
  <!--<div class="container-fluid">-->
    <h2 class="display-6 navbar-text footer-text ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&copy&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;All rights reserved</h2>
    
  </div>
</nav>
    </footer>